* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #93a6cc, #b3a1b8);
    padding: 10px
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #ee96b1;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 50px;
    margin-right: 0px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #93a6cc;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: #c72af3;
    outline: #c72af3;
    background: transparent;
    padding: 10px;
    font-weight: 24px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #c72af3;
    color: antiquewhite;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}

ul li.before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: centre;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: rgb(8, 87, 53);
    text-decoration: line-through;

}

ul li.checked ::before {
    background-image: url(images/checked.png);

}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: #fff;
}

ul li span:hover {
    background: #c72af3;
    color: antiquewhite;
}